<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>menu</title>
<!--    <style>-->
<!--        .flexbox-column{-->
<!--            display: flex;-->
<!--            flex-direction: column;-->
<!--        }-->
<!--        .flexbox-row{-->
<!--            display: flex;-->
<!--            flex-direction: row;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<!--<div class="flexbox-column">-->
<!--    <div class="flexbox-row"><form method="get" onsubmit="console.log('profile')" target="_self"><input type="submit" value="profile"></form></div>-->
<!--    <div class="flexbox-row"></div>-->
<!--    <div class="flexbox-row"></div>-->
<!--</div>-->
<!--<script>-->
<!--    console.log('asdfghjkl')-->
<!--</script>-->
qwasdsdsfsf
</body>
</html>